.gitattributes
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
.vs/BreakOut/FileContentIndex/9ed214d6-b8c0-45c3-a2c9-d1c5939fc7dc.vsidx
.vs/BreakOut/FileContentIndex/d8d5cc76-9614-4dae-b541-ef04aa80f80e.vsidx
.vs/BreakOut/v17/.suo
.vs/BreakOut/v17/Browse.VC.db
.vs/BreakOut/v17/Browse.VC.db-shm
.vs/BreakOut/v17/Browse.VC.db-wal
.vs/BreakOut/v17/Browse.VC.opendb
.vs/BreakOut/v17/DocumentLayout.json
.vs/BreakOut/v17/ipch/AutoPCH/9b0d69026aa93ee1/GAMEMAIN.ipch
BreakOut.sln
BreakOut.vcxproj
BreakOut.vcxproj.filters
BreakOut.vcxproj.user
BreakOut/x64/Debug/BreakOut.exe.recipe
BreakOut/x64/Debug/BreakOut.ilk
BreakOut/x64/Debug/BreakOut.log
BreakOut/x64/Debug/BreakOut.tlog/BreakOut.lastbuildstate
BreakOut/x64/Debug/BreakOut.tlog/CL.command.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/Cl.items.tlog
BreakOut/x64/Debug/BreakOut.tlog/CL.read.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/CL.write.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.command.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.read.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.secondary.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.write.1.tlog
BreakOut/x64/Debug/GameMain.obj
BreakOut/x64/Debug/vc143.idb
BreakOut/x64/Debug/vc143.pdb
Log.txt
x64/Debug/BreakOut.exe
x64/Debug/BreakOut.pdb
.vs/BreakOut/v17/DocumentLayout.backup.json
.vs/BreakOut/FileContentIndex/3065d992-a154-4f30-a996-552bdbeba657.vsidx
