.gitattributes
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
.vs/BreakOut/FileContentIndex/9ed214d6-b8c0-45c3-a2c9-d1c5939fc7dc.vsidx
.vs/BreakOut/FileContentIndex/d8d5cc76-9614-4dae-b541-ef04aa80f80e.vsidx
.vs/BreakOut/v17/.suo
.vs/BreakOut/v17/Browse.VC.db
.vs/BreakOut/v17/Browse.VC.db-shm
.vs/BreakOut/v17/Browse.VC.db-wal
.vs/BreakOut/v17/Browse.VC.opendb
.vs/BreakOut/v17/DocumentLayout.json
.vs/BreakOut/v17/ipch/AutoPCH/9b0d69026aa93ee1/GAMEMAIN.ipch
BreakOut.sln
BreakOut.vcxproj
BreakOut.vcxproj.filters
BreakOut.vcxproj.user
BreakOut/x64/Debug/BreakOut.exe.recipe
BreakOut/x64/Debug/BreakOut.ilk
BreakOut/x64/Debug/BreakOut.log
BreakOut/x64/Debug/BreakOut.tlog/BreakOut.lastbuildstate
BreakOut/x64/Debug/BreakOut.tlog/CL.command.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/Cl.items.tlog
BreakOut/x64/Debug/BreakOut.tlog/CL.read.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/CL.write.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.command.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.read.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.secondary.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.write.1.tlog
BreakOut/x64/Debug/GameMain.obj
BreakOut/x64/Debug/vc143.idb
BreakOut/x64/Debug/vc143.pdb
Log.txt
x64/Debug/BreakOut.exe
x64/Debug/BreakOut.pdb
.vs/BreakOut/v17/DocumentLayout.backup.json
.vs/BreakOut/FileContentIndex/3065d992-a154-4f30-a996-552bdbeba657.vsidx
.vs/BreakOut/FileContentIndex/121b9c04-ba54-483a-8c34-153e81a1693a.vsidx
.vs/BreakOut/FileContentIndex/45b685c3-5d79-43b6-870b-6e19d7117f5b.vsidx
.vs/BreakOut/FileContentIndex/58917fbb-8f73-407d-adbb-9febc29fb7b9.vsidx
.vs/BreakOut/FileContentIndex/dbc530cc-8211-4324-a7f6-ff3f75461f1b.vsidx
.vs/BreakOut/v17/ipch/AutoPCH/566bc01b8dc57b97/BALL.ipch
.vs/BreakOut/v17/ipch/AutoPCH/5d1dfce1282a79fb/PLAYER.ipch
.vs/BreakOut/v17/ipch/AutoPCH/7ec692155a101b68/GAMESYSTEM.ipch
.vs/BreakOut/v17/ipch/AutoPCH/c4d073d05e0df30e/PLAYER.ipch
.vs/BreakOut/v17/Solution.VC.db
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/21957f17-9930-4356-af85-94ba19523a9e
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/3f7d6971-e5c4-4641-bb50-1c07c4f3a1ac
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/6083feb4-9803-4f9d-8c63-55c46126fa5e
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/7b7f1a81-c0a6-441c-b968-46b9c190fad4
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/b39d193e-21c1-4996-aae9-13d2efbff7f4
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/d6e65794-10ef-4817-8b55-ba892dde32a3
.vs/BreakOut/FileContentIndex/18716e98-dc2f-4f51-a2bf-3eaf5717c398.vsidx
.vs/BreakOut/FileContentIndex/a2681b39-97e4-4e4c-be6c-367cf7a90da3.vsidx
.vs/BreakOut/FileContentIndex/aa7bd235-6e1b-4f57-b61b-2e4e8fbe685d.vsidx
.vs/BreakOut/FileContentIndex/da706a79-ed76-44d9-8e1e-bc0c83d6bd75.vsidx
.vs/BreakOut/FileContentIndex/e28957db-dcc7-4b7c-91f5-64e3a020242e.vsidx
.vs/BreakOut/v17/ipch/AutoPCH/8d7691466a61073d/BLOCKHANDLER.ipch
.vs/BreakOut/v17/ipch/AutoPCH/c429533ff331bb34/BLOCKHANDLER.ipch
.vs/BreakOut/v17/ipch/AutoPCH/d74f09568a63f0f9/COLLISIONDETECTION.ipch
.vs/BreakOut/v17/ipch/AutoPCH/eb7f63006a3b1445/BLOCK.ipch
.vs/BreakOut/FileContentIndex/43917f5e-68bf-446f-b8ad-4bf6c547811c.vsidx
.vs/BreakOut/FileContentIndex/73d1c7a1-39b8-4f8d-ab2d-c8d10dad4e9e.vsidx
.vs/BreakOut/FileContentIndex/fa1d3682-263e-4e0e-80ff-dff21db91814.vsidx
.vs/BreakOut/FileContentIndex/ff7c9905-8cd4-40ce-b1db-4db15019a016.vsidx
.vs/BreakOut/v17/ipch/AutoPCH/2495f3afc731b0b6/TITLESCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/2dbf18c72c481c/TITLESCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/7134795843a2a3d2/GAMECLEARSCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/91b2b36176d688ef/GAMECLEARSCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/92aa3f37e8f809ba/GAMEOVERSCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/e90a2d8fd493ed43/GAMEMAIN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/ed6fff44121f779f/GAMEOVERSCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/fcc8b0a788e3ceb/TITLESCREEN.ipch
BreakOut/x64/Debug/BlockHandler.obj
BreakOut/x64/Debug/GameClearScreen.obj
BreakOut/x64/Debug/GameOverScreen.obj
BreakOut/x64/Debug/TitleScreen.obj
BreakOut/x64/Release/Ball.obj
BreakOut/x64/Release/Block.obj
BreakOut/x64/Release/BlockHandler.obj
BreakOut/x64/Release/BreakOut.Build.CppClean.log
BreakOut/x64/Release/BreakOut.exe.recipe
BreakOut/x64/Release/BreakOut.iobj
BreakOut/x64/Release/BreakOut.ipdb
BreakOut/x64/Release/BreakOut.log
BreakOut/x64/Release/BreakOut.tlog/BreakOut.lastbuildstate
BreakOut/x64/Release/BreakOut.tlog/CL.command.1.tlog
BreakOut/x64/Release/BreakOut.tlog/Cl.items.tlog
BreakOut/x64/Release/BreakOut.tlog/CL.read.1.tlog
BreakOut/x64/Release/BreakOut.tlog/CL.write.1.tlog
BreakOut/x64/Release/BreakOut.tlog/link.command.1.tlog
BreakOut/x64/Release/BreakOut.tlog/link.read.1.tlog
BreakOut/x64/Release/BreakOut.tlog/link.secondary.1.tlog
BreakOut/x64/Release/BreakOut.tlog/link.write.1.tlog
BreakOut/x64/Release/BreakOut.vcxproj.FileListAbsolute.txt
BreakOut/x64/Release/CollisionDetection.obj
BreakOut/x64/Release/GameClearScreen.obj
BreakOut/x64/Release/GameMain.obj
BreakOut/x64/Release/GameOverScreen.obj
BreakOut/x64/Release/Player.obj
BreakOut/x64/Release/TitleScreen.obj
BreakOut/x64/Release/vc143.pdb
x64/Release/BreakOut.exe
x64/Release/BreakOut.pdb
BreakOut/x64/Debug/BlockHandler.obj
BreakOut/x64/Debug/BlockHandler.obj
BreakOut/x64/Debug/BlockHandler.obj
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/08a39d92-045b-46d8-90c3-6eff07710351
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/7563ee4c-9ca4-4465-a7dc-a93c75a60c64
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/b550be4d-aa31-4b71-a546-074d488f4323
.vs/BreakOut/copilot-chat/6f0d6ba6/sessions/d796b279-3773-49bb-82d0-7c0a14d533d5
.vs/BreakOut/FileContentIndex/0a25741c-ea3e-4f9e-8707-700e8521a9db.vsidx
.vs/BreakOut/FileContentIndex/999a202b-3de8-4059-a99f-5cee8d3c790e.vsidx
.vs/BreakOut/FileContentIndex/a7c8dd72-7753-417f-aaeb-90bf907959d9.vsidx
.vs/BreakOut/FileContentIndex/c5ca1492-623c-4669-8a75-a33f8c150700.vsidx
.vs/BreakOut/FileContentIndex/d7f6abfd-ddce-403f-9eb5-39127dcae8ba.vsidx
.vs/BreakOut/v17/ipch/AutoPCH/6ec100e1c5025834/GAMEOVERSCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/7cde1009a0932869/PLAYER.ipch
.vs/BreakOut/v17/ipch/AutoPCH/a9b7e98cbfe0cc99/GAMECLEARSCREEN.ipch
.vs/BreakOut/v17/ipch/AutoPCH/b91bd23ab986aec5/BALL.ipch
.vs/BreakOut/v17/ipch/AutoPCH/f41942ba6e0f02a3/COLLISIONDETECTION.ipch
