.gitattributes
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
.vs/BreakOut/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
.vs/BreakOut/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
.vs/BreakOut/FileContentIndex/9ed214d6-b8c0-45c3-a2c9-d1c5939fc7dc.vsidx
.vs/BreakOut/FileContentIndex/d8d5cc76-9614-4dae-b541-ef04aa80f80e.vsidx
.vs/BreakOut/v17/.suo
.vs/BreakOut/v17/Browse.VC.db
.vs/BreakOut/v17/Browse.VC.db-shm
.vs/BreakOut/v17/Browse.VC.db-wal
.vs/BreakOut/v17/Browse.VC.opendb
.vs/BreakOut/v17/DocumentLayout.json
.vs/BreakOut/v17/ipch/AutoPCH/9b0d69026aa93ee1/GAMEMAIN.ipch
BreakOut.sln
BreakOut.vcxproj
BreakOut.vcxproj.filters
BreakOut.vcxproj.user
BreakOut/x64/Debug/BreakOut.exe.recipe
BreakOut/x64/Debug/BreakOut.ilk
BreakOut/x64/Debug/BreakOut.log
BreakOut/x64/Debug/BreakOut.tlog/BreakOut.lastbuildstate
BreakOut/x64/Debug/BreakOut.tlog/CL.command.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/Cl.items.tlog
BreakOut/x64/Debug/BreakOut.tlog/CL.read.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/CL.write.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.command.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.read.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.secondary.1.tlog
BreakOut/x64/Debug/BreakOut.tlog/link.write.1.tlog
BreakOut/x64/Debug/GameMain.obj
BreakOut/x64/Debug/vc143.idb
BreakOut/x64/Debug/vc143.pdb
Log.txt
x64/Debug/BreakOut.exe
x64/Debug/BreakOut.pdb
.vs/BreakOut/v17/DocumentLayout.backup.json
.vs/BreakOut/FileContentIndex/3065d992-a154-4f30-a996-552bdbeba657.vsidx
.vs/BreakOut/FileContentIndex/121b9c04-ba54-483a-8c34-153e81a1693a.vsidx
.vs/BreakOut/FileContentIndex/45b685c3-5d79-43b6-870b-6e19d7117f5b.vsidx
.vs/BreakOut/FileContentIndex/58917fbb-8f73-407d-adbb-9febc29fb7b9.vsidx
.vs/BreakOut/FileContentIndex/dbc530cc-8211-4324-a7f6-ff3f75461f1b.vsidx
.vs/BreakOut/v17/ipch/AutoPCH/566bc01b8dc57b97/BALL.ipch
.vs/BreakOut/v17/ipch/AutoPCH/5d1dfce1282a79fb/PLAYER.ipch
.vs/BreakOut/v17/ipch/AutoPCH/7ec692155a101b68/GAMESYSTEM.ipch
.vs/BreakOut/v17/ipch/AutoPCH/c4d073d05e0df30e/PLAYER.ipch
.vs/BreakOut/v17/Solution.VC.db
